{% load static %}

<div id="nav-aside">
  <!-- nav -->
  <div class="section-row">
    <ul class="nav-aside-menu">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'contact' %}">Contacts</a></li>
    </ul>
  </div>
  <!-- /nav -->

  <!-- widget posts -->
  <div class="section-row">
    <h3>Recent Posts</h3>
    {% for post in posts %}
    <div class="post post-widget">
      <a class="post-img" href="{% url 'blog-post' post.id %}"><img src="{{ post.image.url }}" alt=""></a>
      <div class="post-body">
        <h3 class="post-title"><a href="{% url 'blog-post' post.id %}">{{ post.title }}</a></h3>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- /widget posts -->

  <!-- social links -->
  <div class="section-row">
    <h3>Follow us</h3>
    <ul class="nav-aside-social">
      <li><a href="https://www.facebook.com/solti.giddhii.nagarna.la/"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/BeingDulal"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      
    </ul>
  </div>
  <!-- /social links -->

  <!-- aside nav close -->
  <button class="nav-aside-close"><i class="fa fa-times"></i></button>
  <!-- /aside nav close -->
</div>
